{
  "openapi": "3.0.0",
  "info": {
    "title": "MonitoringApi",
    "description": "Api for monitoring application (#task running, #taskOfGroupe, ...)",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://realtimescheduler.cfapps.io/api/monitoring"
    }
  ],
  "paths": {
    "/task/queued": {
      "get": {
        "description": "Returns an Array with all Tasks currently being scheduled",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200_TaskList"
          }
        }
      }
    },
    "/task/dispatched": {
      "get": {
        "description": "Returns an Array with all Tasks currently waiting for feedback from dispatcher",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200_TaskList"
          }
        }
      }
    },
    "/task/dispatched/error/count" : {
      "get": {
        "description": "Returns the number of tasks with error-feedback from dispatcher",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200_Integer"
          }
        }
      }
    },
    "/group/{group_Id}/tasks" : {
      "get": {
        "description": "Returns the amount of tasks from a group",
        "parameters": [
          {
            "name": "group_Id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format" : "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200_Integer"
          },
          "404" : {
            "description": "404: Group not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage" : {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/group/count" : {
      "get": {
        "description": "Returns the total number of groups",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200_Integer"
          }
        }
      }
    }



  },
  "components": {
    "responses": {
      "200_Integer" : {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "number" : {
                  "type": "integer",
                  "format" : "int64"
                }
              }
            }
          }
        }
      },
      "200_TaskList" : {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/TaskModel"
              }
            }
          }
        }
      }
    },
    "schemas": {
      "TaskModel" : {
        "$ref" : "./GlobalComponents.json#/components/schemas/TaskModel"
      }
    }
  }
}
