{
  "openapi": "3.0.0",
  "info": {
    "title": "Realtime Scheduler Api",
    "description": "Apis for Realtime Scheduler Application",
    "version": "1.0.0",
    "license": {
      "name": "MIT",
      "url": "https://en.wikipedia.org/wiki/MIT_License"
    }
  },
  "servers": [
    {
      "url": "https://realtimescheduler.cfapps.io/api/monitoring"
    }
  ],
  "paths": {
    "/task/scheduled": {
      "$ref": "./paths/MonitoringApi.json#/Scheduled"
    },
    "/task/waiting": {
      "$ref": "./paths/MonitoringApi.json#/Waiting"
    },
    "/task/dispatched": {
      "$ref": "./paths/MonitoringApi.json#/Dispatched"
    },
    "/task/dispatched/errors": {
      "$ref": "./paths/MonitoringApi.json#/Errors"
    },
    "/group/{group_Id}/tasks": {
      "$ref": "./paths/MonitoringApi.json#/TasksByGroup"
    },
    "/group/count": {
      "$ref": "./paths/MonitoringApi.json#/GroupCount"
    }
  },
  "components": {
    "responses": {
      "200_Integer": {
        "$ref": "./components/Responses.json#/200_Integer"
      },
      "200_TaskList": {
        "$ref": "./components/Responses.json#/200_TaskList"
      },
      "401": {
        "$ref": "./components/Responses.json#/401"
      }
    },
    "schemas": {
      "TaskModel": {
        "$ref": "./components/Schemas.json#/TaskModel"
      },
      "ErrorModel": {
        "$ref": "./components/Schemas.json#/ErrorModel"
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  }
}
